body {
    background-color: #e5e5e5 !important;
    padding-top: 40px;
    /* padding-bottom: 50px; */
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: block;
    font-size: 24px;
    text-decoration: none !important;
    color: #7FB69C !important;
    border-top: 2px solid #7FB69C;
    border-bottom: 2px solid #7FB69C;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
}

a:hover {
    letter-spacing: 15px;
}

#btnHowToUse {
    background-color: #493548;
    color: white;
    transition: transform 250ms;
}

#btnHowToUse:hover {
    transform: translateY(-10px);
}

#gif1 {
    height: 55%;
    width: 55%;
}